*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
    background-color:rgb(157, 205, 211);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}

h1 {
    /* text-align: center; */
    color: hsl(330, 78%, 23%);
    margin-bottom: 2%;
    margin-top: 2%;
}

h2{
    /* text-align: center; */
    color: hsl(330, 78%, 23%);
    margin-bottom: 2%;
    margin-top: 2%;
}

.pseudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: teal;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#pseudo {
    margin-bottom: 20px;
}

.souspseudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ctnPicAndBtn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.ctnBtn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

img {
    margin-bottom: 20px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.halloffame{
    color: hsl(330, 78%, 23%);
    font-size: 20px;
    padding: 2%;
}

a {
    text-decoration: none;
}

.btn {
    cursor: pointer;
    width: 150px;
    height: 30px;
    font-family: "Livvic", sans-serif;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: hsl(330, 78%, 23%);
    background-color: whitesmoke;
    /* font-family: cursive, "sans-serif"; */
    font-weight: bold;
    font-size: 0.9em;
    letter-spacing: 1px;
    margin-top: 8%;
    margin-bottom: 8%;
  }
  .btn:hover {
    color: #ffffff;
    background-color: #680d3b;
    text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
      #ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px, #ff2d95 0px 0px 40px,
      #ff2d95 0px 0px 50px, #ff2d95 0px 0px 75px;
  }
  /* .btn1 {
    margin-bottom: 4px;
  } */
