body {
    background-color:rgb(157, 205, 211);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: hsl(330, 78%, 23%);
    font-family: "Livvic", sans-serif;
}
.h1 {
    margin-bottom: 2%;
    margin-top: 2%;
}

h2 {
    margin-bottom: 2%;
    margin-top: 2%;
}

html{
    background-color:rgb(157, 205, 211);
}

.minion {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 15px;
    justify-content: space-around;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 30px;
    margin-bottom: 30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.coupe {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn {
    cursor: pointer;
    width: 150px;
    height: 30px;
    font-family: "Livvic", sans-serif;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: hsl(330, 78%, 23%);
    background-color: whitesmoke;
    font-weight: bold;
    font-size: 0.9em;
    letter-spacing: 1px;
    margin-top: 8%;
    margin-bottom: 8%;
  }
  .btn:hover {
    color: #ffffff;
    background-color: #680d3b;
    text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
      #ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px, #ff2d95 0px 0px 40px,
      #ff2d95 0px 0px 50px, #ff2d95 0px 0px 75px;
  }
  