html{
  background-color:rgb(157, 205, 211);
}

.bigCtn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 50%;
}
h1 {
    text-align: center;
}
.map {
    margin-left: 15rem;
}
.france:hover {
background-color: red;
}

